CONFIG_POSITION_INDEPENDENT=y
CONFIG_LINUX_KRNL_HEADER_IMG=y
# CONFIG_COMPRESS_GZIP is not set
CONFIG_COMPRESS_LZ4=y
CONFIG_FDT_BUF_SIZE=1000000
CONFIG_GOOGLE_ZUMAPRO=y
CONFIG_GOOGLE_CAIMAN=y
CONFIG_TEXT_BASE=0xa0011010
CONFIG_PAYLOAD_ENTRY=0x890000000
CONFIG_RAMDISK_ENTRY=0x906000000
